@font-face {
	font-family: Lobster;
	src: url('../fonts/LobsterTwo-Regular.ttf') format('truetype');
}

body {
	background-color: #dbdbdb;
}
.cont {
	text-align: center;
	height: 100vh;
	color: #000000;
}
#topCont {
	margin-top: 0;
	height: auto;
	border-bottom: 1px solid black;
	text-align: center;
}
#botCont {
	text-align: center;
}

h1, h2 {
	font-family: Lobster;
}

#content {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 1.3em;
}

#celsius,
#fahrenheit {
	background-color: #e9e9e9;
}